*.o
*.cmx
*.cmo
*.cmi
*.a
*.cmxa
*.cmxs
*.cma
*.cmt
*.cmti
*.annot

.*~
.*.swp

*.vo
*.vos
*.vok
*.d
*.glob
.*.aux
*.html
*.txt
*.crashcoqide
\#*\#
etc/__pycache__/

/.deps.elpi

src/coq_elpi_config.ml
src/coq_elpi_vernacular_syntax.ml
src/coq_elpi_arg_syntax.ml
src/coq_elpi_builtins_HOAS.ml
doc/

Makefile.coq
Makefile.coq.conf
.merlin
Makefile.*.coq
Makefile.*.coq.conf

tests/test_glob/*.css

META

*.cache

apps/coercion/src/coq_elpi_coercion_hook.ml
.filestoinstall
apps/tc/src/coq_elpi_tc_hook.ml
