*.o
*.cmx
*.cmo
*.cmi
*.a
*.cmxa
*.cmxs
*.cma
*.cmt
*.cmti
*.annot

.*~
.*.swp

*.vo
*.vos
*.vok
*.d
*.glob
.*.aux
*.html
*.crashcoqide
\#*\#
etc/__pycache__/

/.deps.elpi

src/coq_elpi_config.ml
src/coq_elpi_vernacular_syntax.ml
src/coq_elpi_arg_syntax.ml
doc/

Makefile.coq
Makefile.coq.conf
.merlin
Makefile.test.coq
Makefile.test.coq.conf
