*.o
*.cmx
*.cmo
*.cmi
*.a
*.cmxa
*.cmxs
*.cma
*.cmt
*.cmti
*.annot

.*~
.*.swp

*.vo
*.vos
*.vok
*.d
*.glob
.*.aux
*.html
*.txt
*.crashcoqide
\#*\#
etc/__pycache__/

/.deps.elpi

src/rocq_elpi_config.ml
src/rocq_elpi_vernacular_syntax.ml
src/rocq_elpi_arg_syntax.ml
src/rocq_elpi_builtins_HOAS.ml
doc/

Makefile.coq
Makefile.coq.conf
.merlin
Makefile.*.coq
Makefile.*.coq.conf

tests/test_glob/*.css

META

*.cache

apps/coercion/src/rocq_elpi_coercion_hook.ml
.filestoinstall
apps/tc/src/rocq_elpi_tc_hook.ml
apps/cs/src/rocq_elpi_cs_hook.ml

*.timing
_build
tmp.out
rocq-elpi-tests.opam
rocq-elpi-tests.install
rocq-elpi.install
coq-elpi.install

theories-stdlib/dune
apps/coercion/src/dune
apps/cs/src/dune
apps/tc/src/dune
src/dune